[submodule "libjson"]
	path = libjson
	url = ../libjson.git
[submodule "opensea-common"]
	path = opensea-common
	url = ../opensea-common.git
[submodule "opensea-parser"]
	path = opensea-parser
	url = ../opensea-parser.git

